/*Для страницы путешествия*/
$background_green_title: #a4c577;
$background_green: #6c7764;
$background_green_dark:#343f30;
$background_green_features: #86bd71;
/*для телефона 480 px*/
$background_m_title: #f3d6a0;
$background_m_: #312212;
$background_m_dark: #f1a64a;
$background_m_features: #ffbe4b;
/*Для страницы обо мне*/
$background_beige: #d5c6b0; /*общий цвет*/
$background_dark_shekolod: #2c2420;
$color_header_about_me: #3f3632;
$color_orang: #ffd686;
$color_orang_hover: #947938;

/*Для страницы медитация*/
$color_h1: #e7e7e7;
$color_text_d: #4b423d;
$color_text_w: #ffffff;

/*Для страницы сео*/
$color_Block_w: #eaeaea;
$color_text_d2: #4b423d;
$color_text_w2: #ffffff;