{% load static %}
<div class="header_travel">
    <nav>
        <div class="menu">
            <a href="{% url "home" %}"><img src="{% static "main/img/logo_gorizont2.png" %}" alt=""></a>
            <h2>ПЛАКУНОВ СЕРГЕЙ</h2>

            <div class="header-burger">
                <span></span>
            </div>
            <div class="header-menu">
                <ul>
                    <li><a href="{% url "home" %}">Главная</a></li>
                    <li><a href="{% url "meditation" %}">Медитация</a></li>
                    <li><a href="{% url "seo" %}">СЕО</a></li>
                    <li><a href="{% url "travel" %}">Путешествия</a></li>
                    <li><a href="{% url "about_me" %}">Обо мне</a></li>
                    <li><a href="{% url "Blog" %}">Блог</a></li>
                    <li><a href="{% url "massag" %}">Массаж</a></li>
                </ul>
                <div class="social">
                    <a href="https://api.whatsapp.com/send?phone=79632979687" title="WhatsApp" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
                    <a href="https://vk.com/s.plakunov" title="Вконтакте" target="_blank"><i class="fa-brands fa-vk"></i></a>
                    <a href="https://www.youtube.com/channel/UCU1oMMpmnVoFO6VF7gHVNaw?view_as=subscriber" title="YouTube" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
                    <a href="https://t.me/+V55xjgX65stkZjEy" title="Telegram" target="_blank"><i class="fa-brands fa-telegram"></i></a><br>
                </div>
                <div class="telefon">
                    <a href=""><i class="fa-solid fa-phone"></i>+ 7 (963) 297-96-87</a>
                </div>

            </div>
        </div>
    </nav>
</div>

<div class="top_scroll">
    <a href="#" id="top_scroll_button"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
</div>

